/* Add CSS Styling */
.basic {
    background-color: rgb(255, 157, 157);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#first {
    color: rgb(17, 0, 255);
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#second {
    background-color: rgb(111, 255, 118);
    font-size: 24px;
    font-weight: bold;
}